.dropdown {
	position: relative;
	width: fit-content;
	width: 100%;

	.dropdown_button {
		cursor: pointer;
		color: inherit;
		font-size: inherit;
	}

	.dropdown_menu {
		position: absolute;
		text-align: left;
		top: 100%;
		left: 4dvw;
		list-style: none;
		padding: 0;
		background: rgb(252, 252, 250);
		border: 1px solid #ccc;
		color: #034aac;
		font-weight: 550;

		.dropdown_item {
			white-space: nowrap;
			padding: 0;
			margin: 0;
		}

		.dropdown_item_label {
			display: block;
			font-weight: 700;
			padding: 0.5rem 1rem;
		}

		.menu_divider {
			border: none;
			height: 1px;
			background: linear-gradient(to right, transparent, #d3d3d3, transparent);
			margin: 0;
		}

		.dropdown_item:hover {
			background: #000e88;
			color: white;
		}

		.submenu {
			margin: 0;
			background: rgb(255, 255, 255);
			color: #000e88;
			min-width: 12rem;
			list-style: none;
			padding: 0;
			gap: 0;
			box-shadow: inset 0 0 0.5rem #d1d4d9;

			.submenu_item {
				padding: 0.5rem 1rem;
				white-space: nowrap;
			}

			.submenu_item:hover {
				background: #000e88;
				color: white;
			}
		}
	}


}


/* Pantallas cuadradas */
@media (min-aspect-ratio: 1/1) {
	.dropdown {

		.dropdown_menu {

			/* Submenú lateral */
			.submenu {
				top: 0;
				left: 100%;
				list-style: none;
				margin: 0;
				padding: 0;
				background: white;
				color: #000e88;
				border: 1px solid #ccc;
				min-width: 12rem;
			}

			.submenu li {
				padding: 0.5rem 1rem;
			}

			.submenu li:hover {
				background: #000e88;
				color: white;
			}
		}
	}


}