footer {
    justify-content: center;
    box-sizing: border-box;
    padding: 3rem;
    width: 100%;
    background-color: white;
    color: #034aac;
    padding-inline: 3rem;
}

.logo-footer{
    height: 4rem;
    margin-right: 2rem;
    width: auto;
}

.footer-text{
    color: #034aac;
    a{
        color: #034aac;
        text-decoration: underline;
    }
    a:hover{
        background-color: rgb(233, 234, 237);
    }
    .separator{
        margin-inline: 2rem;
    }
}